
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <center>
        <table class="notfugly">
          <tr>
          <td>
            <ul class="nav nav-tabs">
              <li><a href="mailto:joey@timehoarding.com"><img src="http://i.imgur.com/k0wwsot.png"></a></li></ul></td>
            <td>
            |</td>
            <td>
              <ul class="nav nav-tabs">
              <li><a href="https://www.linkedin.com/pub/joseph-king/b/50/390"><img src="http://i.imgur.com/LpuGeRP.png"></a></li></ul></td>
          <td>
            <ul class="nav nav-tabs">
              <li>
                <a href="https://twitter.com/BTC_Houston"><img src="http://i.imgur.com/41prgbB.png"></a>
              </li>
            </ul></td>
            
          <td>
            <ul class="nav nav-tabs">
              <li>
                <a href="https://github.com/josephroyking"><img src="http://i.imgur.com/WXM7WX0.png"></a>
              </li>
            </ul>
            </td>
          </tr>
         
        </table>
          </center>
        
        <br>
        <div position="relative" align="center">
          <%= button_to "View my Work",
      portfolio_path,
      method: :get, class: "btn btn-primary" %>
        </div>
        
      </div>
      <div class="col-sm-6">
        <img id="aboutimg" src="http://i.imgur.com/TGGEljO.jpg">
      </div>
    </div>
    
    
  </div>
</div>
  
