
<div class="main">
  <div class="container">
    <h2 align="right">
      Web Apps for Bitcoin & the Blockchain
    </h2>
    <button type="button" class="btn btn-primary">View my Work</button>
  </div>
</div>
  
