
<div class="main">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-6">
  			<div class="textblurb">
    		<h3>
      			Third Place finish at the Austin Blockchain Hackathon
    		</h3>
    		</div>
    		<iframe width="560" height="315" src="https://www.youtube.com/embed/VTHMNaiQCg8?start=3335" frameborder="0" allowfullscreen></iframe>
    	</div>
    	<div class="col-sm-6">
    		<div id="aboutp">
          		<p>I'm a Texas-born, Europe-raised engineer with a build-based fascination for cryptocurrency and our decentralized future.</p>
        	</div>
    	</div>
    </div>
  </div>
</div>
  
