// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  height: 600px;
  background-image: url(https://googledrive.com/host/0BwygBarPURe-QTh3TEJXMTN5M00/gigantomachy.jpg);
  background-size: cover;
}